.dart_tool/
.packages
.pub/
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.DS_Store
example/.dart_tool/
example/build/
example/pubspec.lock
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/ios/Pods/
example/ios/.symlinks/
example/android/.gradle/
example/android/local.properties
